{% extends "base.html" %} {% block title %} Homepage % {% endblock %} {% block content %}
<h3 align="center">Register page</h3>
<!--<form>
    <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email">
    <input type="text" class="form-control" id="user_name" name="user_name" placeholder="User Name">
    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
    <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm Password">
    <button type="submit" class="btn btn-primary">Login</button>

</form>-->
<form method="POST">
    <div class="form-group">
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email">

    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="email" name="user_name" placeholder="User Name">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm Password">
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>
{% endblock %}